$navbar-height: 3rem;
$navbar-padding: 1rem;
$navbar-total: calc($navbar-height + 2 * $navbar-padding);

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
  padding: $navbar-padding;
  align-items: center;
}

.menubar {
  height: $navbar-height;
  margin-left: 1rem;
}

.content {
  position: absolute;
  left: 0;
  top: $navbar-total;
  width: 100%;
  height: calc(100vh - $navbar-total);
  background: beige;
}