$color-blutorange: var(--color-blutorange);
$color-elfenbein: var(--color-elfenbein);
$color-umbragrau: #4d4d4d;
$color-verkehrsrot: #EE2917;
$color-achatgrau: #cccccc;
$color-grauweiß: #f6f6f6;
$color-ultramarinblau: #00387b;
$color-mariazellerbraun: var(--color-mariazellerbraun);

$text-color-light: $color-grauweiß;
$text-color-dark: $color-umbragrau;