$color-blutorange: var(--color-blutorange);
$color-elfenbein: var(--color-elfenbein);
$color-umbragrau: var(--color-umbragrau);
$color-verkehrsrot: var(--color-verkehrsrot);
$color-achatgrau: var(--color-achatgrau);
$color-grauweiß: #f6f6f6;
$color-ultramarinblau: #00387b;
$color-mariazellerbraun: var(--color-mariazellerbraun);

$text-color-light: $color-grauweiß;
$text-color-dark: $color-umbragrau;