$color-blutorange: #ff4d2e;
$color-elfenbein: #ffe3b3;
$color-umbragrau: #4d4d4d;
$color-verkehrsrot: #EE2917;
$color-achatgrau: #cccccc;
$color-grauweiß: #f6f6f6;
$color-ultramarinblau: #00387b;
$color-mariazellerbraun: #5a3826;

$text-color-light: $color-grauweiß;
$text-color-dark: $color-umbragrau;