$navbar-height: 6rem;
$footer-height: 2rem;
$navbar-padding: 2rem;
$navbar-total: calc($navbar-height);
$content-padding: 32px; // TODO: use primeng defined value and do use 0 on mobile
$min-content-height: calc(100vh - $navbar-total - $footer-height);
$no-scroll-page-height: calc($min-content-height - 2 * $content-padding);

$color-blutorange: #ff4d2e;
$color-elfenbein: #ffe3b3;
$color-umbragrau: #4d4d4d;
$color-verkehrsrot: #de2514;
$color-achatgrau: #cccccc;
$color-grauweiß: #f6f6f6;
$color-ultramarinblau: #00387b;
$color-mariazellerbraun: #5a3826;

$text-color-light: $color-achatgrau;
$text-color-dark: $color-umbragrau;
$scrollbar-width: 8px;


@import 'primevue/resources/themes/mdc-light-deeppurple/theme.css';

.p-button {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  color: $color-umbragrau;
  background: $color-verkehrsrot;
  margin: 0;
}

*::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-ultramarinblau;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 $scrollbar-width $color-grauweiß;
  background-color: $color-grauweiß;
}

.navbar {
  z-index: 1000;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
  padding-left: $navbar-padding;
  padding-right: $navbar-padding;
  align-items: center;
  background: $color-grauweiß;
}

.menubar {
  height: $navbar-height;
  margin-left: 3rem;
  background: $color-grauweiß;
}

.light-text {
  color: $color-grauweiß;
}

.dark-text {
  color: $color-umbragrau;
}

.text-content {
  border-radius: 4px;
  background: $color-grauweiß;
}

.article-content {
  background: #ffffff;
}

.timeline-heading {
  color: $color-grauweiß;
  font-weight: bold;
}

.borderless-menubar {
  border: 0;
}

.content {
  left: 0;
  top: $navbar-total;
  min-height: $min-content-height;
  width: 100%;
  padding: $content-padding;
  background: $color-verkehrsrot;
}

.footer {
  height: $footer-height;
  background: $color-umbragrau;
}

.no-scroll-page {
  height: $no-scroll-page-height;
}

.map-container {
  border-radius: 10px;
}

.page-heading {
  color: $color-umbragrau;
  background: $color-grauweiß;
  border-radius: 5px;
}

.p-panel-header {
  padding: 0.5rem 1rem !important;
  border-radius: 4px;
}

.p-scrollpanel-content {
  padding: 1rem 1.5rem 1rem 1rem;
}

.p-scrollpanel-wrapper {
  padding-right: 1px;
  border-right: $scrollbar-width solid var(--surface-ground);
  border-radius: 5px;
}

.p-scrollpanel-bar-y {
  background: $color-ultramarinblau;
  width: $scrollbar-width;
}

.p-scrollpanel-bar-y:hover {
  background: $color-ultramarinblau;
  width: $scrollbar-width;
}

.p-panel-header {
  padding-bottom: 0;
}

.p-panel-content {
  padding: 1rem;
}

.p-card.selected > .p-card-body {
  border-radius: 4px;
  border: 5px $color-umbragrau solid;
  padding: calc(0.75rem - 5px);
}