@use "./colors" as colors;
@use "./variables_impl" as variables;
@import "./colors_impl";
@import './theme/theme.scss';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';
@import 'material-icons/iconfont/material-icons.css';

html {
  scrollbar-color: colors.$color-ultramarinblau colors.$color-grauweiß;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  color: colors.$color-umbragrau;
  background: colors.$color-grauweiß;
  margin: 0;
}

a {
  text-decoration: none; 
  color: inherit;
}

.navbar {
  z-index: 1000;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  height: variables.$navbar-height;
  width: 100%;
  padding-left: variables.$navbar-padding;
  padding-right: variables.$navbar-padding;
  align-items: center;
  color: colors.$text-color-light;
  background: colors.$color-umbragrau;
}

.navbar-line {
  z-index: 1000;
  display: flex;
  position: sticky;
  top: variables.$navbar-height;
  left: 0;
  height: variables.$navbar-height;
  width: 100%;
  background: colors.$color-verkehrsrot;
}

.sticky-content {
  position: sticky;
  top: variables.$navbar-height;
  left: 0;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}

.foreground {
  z-index: 1000;
}

.bg-verkehrsrot {
  background: colors.$color-verkehrsrot;
}

.bg-mittelgrau {
  background: colors.$color-mittelgrau;
}

.bg-grauweiß {
  background: colors.$color-grauweiß;
}

.bg-white {
  background: white;
}

.bg-umbragrau {
  background: colors.$color-umbragrau;
}

.p-menubar-root-list {
  background: colors.$color-umbragrau;
}

.object-fit-cover {
  object-fit: cover;
}

.menubar {
  height: variables.$navbar-height;
  margin-left: 3rem;
}

.light-text {
  color: colors.$color-grauweiß;
}

.dark-text {
  color: colors.$color-umbragrau;
}

.text-content {
  border-radius: variables.$border-radius-small;
  background: colors.$color-verkehrsrot;
}

.article-content {
  background: #ffffff;
}

.timeline-heading {
  color: colors.$text-color-dark;
  background: white;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  font-weight: bold;
}

.diagonal-box {
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}

.borderless-menubar {
  border: 0;
}

.border-radius-small {
  border-radius: variables.$border-radius-small;
}

.border-radius-big {
  border-radius: variables.$border-radius-big;
}

.content {
  left: 0;
  top: variables.$navbar-total;
  min-height: variables.$min-content-height;
  width: 100%;
}

.footer {
  z-index: 1000; // lol :D
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: variables.$footer-height;
  background: colors.$color-umbragrau;
}

.text-block {
  white-space: break-spaces;
}

.fill-page-height {
  height: variables.$no-scroll-page-height;
}

.max-page-height {
  max-height: variables.$no-scroll-page-height;
}

.page-heading {
  color: colors.$color-umbragrau;
  background: colors.$color-grauweiß;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: variables.$scrollbar-width;
  background-color: colors.$color-grauweiß;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$color-ultramarinblau;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 variables.$scrollbar-width colors.$color-grauweiß;
  background-color: colors.$color-grauweiß;
}