@use "./colors" as colors;
@use "./variables_impl" as variables;
@import "./colors_impl";

body {
  display: flex;
  flex-direction: column;
  color: colors.$color-umbragrau;
  margin: 0;
}

.navbar {
  z-index: 1000;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  height: variables.$navbar-height;
  width: 100%;
  padding-left: variables.$navbar-padding;
  padding-right: variables.$navbar-padding;
  align-items: center;
  color: colors.$text-color-light;
  background: colors.$color-umbragrau;
}

.sticky-content {
  position: sticky;
  top: variables.$navbar-height;
  left: 0;
}

.foreground {
  z-index: 1000;
}

.bg-verkehrsrot {
  background: colors.$color-verkehrsrot;
}

.bg-grauweiss {
  background: colors.$color-grauweiß;
}

.bg-white {
  background: white;
}

.bg-umbragrau {
  background: colors.$color-umbragrau;
}

.p-menubar-root-list {
  background: colors.$color-umbragrau;
}

.menubar {
  height: variables.$navbar-height;
  margin-left: 3rem;
}

.light-text {
  color: colors.$color-grauweiß;
}

.dark-text {
  color: colors.$color-umbragrau;
}

.text-content {
  border-radius: variables.$border-radius-small;
  background: colors.$color-verkehrsrot;
}

.article-content {
  background: #ffffff;
}

.timeline-heading {
  color: colors.$text-color-dark;
  background: colors.$color-grauweiß;
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  font-weight: bold;
}

.borderless-menubar {
  border: 0;
}

.rounded-corners-small {
  border-radius: variables.$border-radius-small;
}


.rounded-corners-big {
  border-radius: variables.$border-radius-big;
}

.content {
  left: 0;
  top: variables.$navbar-total;
  min-height: variables.$min-content-height;
  width: 100%;
}

.footer {
  z-index: 1000; // lol :D
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: variables.$footer-height;
  background: colors.$color-umbragrau;
}

.no-scroll-page {
  height: variables.$no-scroll-page-height;
}

.page-heading {
  color: colors.$color-umbragrau;
  background: colors.$color-grauweiß;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: variables.$scrollbar-width;
  background-color: colors.$color-grauweiß;
}

::-webkit-scrollbar-thumb {
  background-color: colors.$color-ultramarinblau;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 variables.$scrollbar-width colors.$color-grauweiß;
  background-color: colors.$color-grauweiß;
}